<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>孤儿分省年度数据</title>
<style>
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
a:link,a:visited
{
display:block;
width:150px;
font-weight:bold;
color:#FFFFFF;
background-color:#bebebe;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#cc0000;
}

</style>

<link href="static/hf.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="nav">
            <ul>
                <li><a href="/">孤儿和机构数</a></li>
                <li><a href="/ge_data">孤儿分省年度数据</a></li>
                <li><a href="/zm_qwm">重男轻女</a></li>
                <li><a href="/yf_death">孕妇死亡率和床位</a></li>

            </ul>
        </div>
<form method="POST" action="/ge_data_response">
    <select name="the_year_selected">
        {% for item in the_select_year %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
<p><input value='Do it!' type='SUBMIT'></p>
</form>
{{ the_plot_all|safe }}

<h2>之后我将近10年的中国分省孤儿数量用中国地图的方式显示，每一年数量都在剧增，而在这里面，广东、上海、江苏、山东等发达省份变化最明显且孤儿数量最多，因此我更进一步证实我的猜想，发达地区的统计机构也增加得多，所以人数才这么集中和多。</h2>

{{ the_res|safe }}

<h1>总结</h1>

<h2>在当我们需要研究某一东西或社会现象的数量时，不一定要从他的直接相关数据去发掘变化原因，而是可以去调查统计这一东西或社会现象的方式是不是增多了或是仪器更加精良了，有时候统计的方式，才是数量变化剧增的原因。</h2>

<p>请看完所有图表故事后再细看总结噢！</p>

</body>
</html>