<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>重男轻女</title>
<style>
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
a:link,a:visited
{
display:block;
width:150px;
font-weight:bold;
color:#FFFFFF;
background-color:#bebebe;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#cc0000;
}

</style>
<link href="static/hf.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="nav">
            <ul>
                <li><a href="/">孤儿和机构数</a></li>
                <li><a href="/ge_data">孤儿分省年度数据</a></li>
                <li><a href="/zm_qwm">重男轻女</a></li>
                <li><a href="/yf_death">孕妇死亡率和床位</a></li>

            </ul>
        </div>
<form method="POST" action="/zm_qwm_response">
    <select name="the_year_selected">
        {% for item in the_select_year %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
<p><input value='Do it!' type='SUBMIT'></p>
</form>
{{ the_plot_all|safe }}

<h2>这部分图表看似与研究的猜想毫无关联，但这部分的研究在于女性在中国家庭中的重视原因，也是为了排除孤儿数量的突增是因为中国传统思想的“重男轻女”，可以看出其实每年的男性女性受教育数量其实没多大区别，所以是可以排除这个可能性，也更加正是我的猜想。</h2>

{{ the_res|safe }}

<h1>总结</h1>

<h2>在当我们需要研究某一东西或社会现象的数量时，不一定要从他的直接相关数据去发掘变化原因，而是可以去调查统计这一东西或社会现象的方式是不是增多了或是仪器更加精良了，有时候统计的方式，才是数量变化剧增的原因。</h2>

<p>请看完所有图表故事后再细看总结噢！</p>

</body>
</html>